
node_modules
package-lock.json
package.json
toolbox-frontend/src/app/environment/environment.prod.ts
toolbox-frontend/src/app/environment/environment.ts
toolbox-frontend/src/app/file-share/file-share.component.ts
toolbox-backend/temp/
toolbox-backend/uploads/
