# Install Angular CLI
npm install -g @angular/cli

# Install Express Generator
npm install -g express-generator

# Install mathjs for the advanced calculator functionality
npm install mathjs
npm install ngx-mathjax

# Install for both front and back end 
npm install 

# Install angular/material in front-end
ng add @angular/material

