# Frontend
# Install for both front and back end 
npm install

# Install Angular CLI
npm install -g @angular/cli

# Install angular/material in front-end
ng add @angular/material

# Install mathjs for the advanced calculator functionality
npm install mathjs



# Backend
# Install for both front and back end 
npm install

# Install Express Generator
npm install -g express-generator

npm install cors
npm install express multer
npm install child_process


