<mat-toolbar color="primary">
  <router-outlet>
    <mat-list-item>
      <span style="font-size: 40px">Alex's Toolbox</span>
      <span class="spacer"></span>
    </mat-list-item>
  </router-outlet>
</mat-toolbar>

<div style="display: flex; margin: 0; padding: 0">
  <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 style="margin-top: 10px; font-size: 200%">Tool list: <span style="font-size: 17px">List of All tools in Alex's Toolbox</span></h1>

</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="mat-nav-list-padding">
      <a mat-list-item routerLink="/home">Home Page</a>
      <a mat-list-item routerLink="/service">Tool list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="context">
      <mat-form-field appearance="fill" class="calculator-expression">
        <textarea matInput matInput placeholder="Enter your expression" [(ngModel)]="expression"></textarea>
      </mat-form-field>
    </router-outlet>
    <router-outlet class="context">
      <button mat-raised-button color="accent" (click)="calculate()">Calculate</button>
    </router-outlet>
    <router-outlet class="context">
      <h2>Result: {{ result }}</h2>
    </router-outlet>

    <mat-card class="calculator-example">
      <mat-card-content>
        <h2>Example:</h2>
        1.2 / (3.3 + 1.7) <br>
        <p class="calculator-example-answer">Result: 0.24<br></p>
        a = 5.08 cm + 2 inch<br>
        <p class="calculator-example-answer">Result: 10.16 cm<br></p>
        a to inch<br>
        <p class="calculator-example-answer">Result: 4 inch<br></p>
        sin(90 deg)<br>
        <p class="calculator-example-answer">Result: 1<br></p>
        f(x, y) = x ^ y<br>
        <p class="calculator-example-answer">Result: f(x, y)<br></p>
        f(2, 3)<br>
        <p class="calculator-example-answer">Result: 8 <br></p>
        det([-1, 2; 3, 1]) <br>
        <p class="calculator-example-answer">Result: -7</p>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
