html, body {
  margin:0;
  padding:0;
  height: 100%;
  scroll-behavior: smooth;
  color: white;
}

#title, #team, #aboutProject, #footer {
  min-height: 100vh;
  z-index: 99;
}

.iframe-container {
  position: relative;
}

.floating-link {
  position: absolute;
  padding: 5px; /* Optional: padding */
  border-radius: 5px; /* Optional: border radius for rounded corners */
  text-decoration: none; /* Optional: remove underline from link */
}

#back {
  font-size: 15px;
  position: absolute;

}

#GithubText {
  font-size: 15px;
  position: absolute;

}

h1 {
  font-size: 80px;
}

#title {
  display: flex;
  height: 1000px;
  width: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#titleText {
  height: 40%;
  margin-left: 10em;
}

#nav {
  width: 100%; /* or any specific width */
  position: absolute;
  z-index: 100;
  position: fixed;
  height: 60px;
}

#footer {
  background-color: #3c3f41;
  width:100%;
  height: 100px;
}

#team {
  padding-top: 50px;
  background-color: gray;
}

#aboutProject {
  margin-bottom: 50px;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
}

.Column {
  display: table-cell;
  color: white;
  font-size: 25px;
}

#Github {
  text-align: end;
}

#AboutUs {
  text-align: center;
  font-size: 30px;
}

a {
  margin: 10px;
  text-decoration-line: none;
  color: white;
  text-align: end;
}

a:hover {
  color: #f39c12;
  transition: .25s all ease;
  text-decoration-line: none;
}

h2, h3 {
  text-decoration-line: underline;
}

h1 {
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  display: table-cell;
  color: white;
  font-size: 25px;
}

.container:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3c3f41;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#project {
  text-align: center;
}

h2 a{
  color: #3c3f41; !important;

}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Styling the scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

.div-with-background {
  position: relative;
  z-index: 1;
}

.div-with-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('images/visualization.png') no-repeat center center;
  background-size: auto;
  opacity: 0.7; /* Adjust the opacity as needed */
  z-index: -1;
}
