:root {
  --fontSize: 16px;
  color: white;
  --bgColor: #3c3f41;
  --primaryColor: #2c3e50;
  --secondaryColor: #34495e;
  --toggleColor: #f39c12;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fontSize);
}

#map2D, #map3D {
    height: 100vh;
}

#detailContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 15px;
  padding: 15px;
  color: white;
  background-color: var(--bgColor);
}

#detailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em 0 1em 0;
}

#closeButton {
  display: none;
  position: absolute;
  right: 4%;
  cursor: pointer;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    overflow-y: auto  ;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    position: fixed;
    width: 18em;
    height: 100vh;
    padding: 1em;
    top: 0;
    left: 0;
    color: white;
    background-color: rgb(60, 63, 65, 0.9); /* rgb equivalent of bg color #3c3f41 with .9 opacity*/
    transition: .5s;
}

.sidebar-footer {
  width: 18em;
  padding: 1em;
  position: absolute;
  bottom: 0;
  background-color: rgba(43, 45, 47, 0.9);
  transition: .5s;
}

.sidebar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.sidebar.is-closed {
    transform: translateX(-20em);
}

.sidebar-footer.is-closed {
    transform: translateX(-20em);
}

.sidebar-toggle.is-closed {
    transform: translateX(-24em);
}

.sidebar-toggle {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 48%;
    left: 24em;
    align-self: center;
    cursor: pointer;
    transition: .5s;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: rgb(60, 63, 65, 0.9);  /* rgb equivalent of bg color #3c3f41 with .9 opacity */
}

.sidebar-toggle .icon-open {
    display: none;
}

.sidebar-toggle .icon-close {
    display: initial;
}

.sidebar-toggle.is-closed .icon-open {
    display: initial;
}

.sidebar-toggle.is-closed .icon-close {
    display: none;
}

select {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--primaryColor);
    background-image: none;
    cursor: pointer;
    font-size: var(--fontSize);
}

.select {
    position: relative;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: var(--secondaryColor);
    transition: .25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: var(--toggleColor);
}

/* Type Container */
#topSection {
  border-radius: .25em;
  background-color: var(--primaryColor);
  height: 3em;
  box-sizing: border-box;
}

#topTitle {
  display: inline-block;
  padding: 15px;
}

#topButton {
  display: inline;
  float: right;
  width: 3em;
  height: 3em;
}

#topButton button {
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  border: 0;
  border-radius: 0px .25em .25em 0px;
}

#topButton button::after {
  content: '\25BC';
  color: #fff;
}

#topButton button:hover::after {
  color: var(--toggleColor);
  transition: .25s all ease;
}

#expandContainer {
 overflow: hidden;
 background-color: var(--primaryColor);
 padding: 0px;
 transition: all 0.5s;
}

#expandContainer.expanded {
  overflow: hidden;
  background-color: var(--primaryColor);
  padding: 15px;
 }

#expandContract {
 margin-top: -100%;
 transition: all 0.5s;
}

#expandContract.expanded {
  margin-top: 0;
}

/* Styles for topSection2 */
#topSection2 {
  border-radius: .25em;
  background-color: var(--primaryColor);
  height: 3em;
  box-sizing: border-box;
}

/* Styles for topTitle2 */
#topTitle2 {
  display: inline-block;
  padding: 15px;
}

/* Styles for topButton2 */
#topButton2 {
  display: inline;
  float: right;
  width: 3em;
  height: 3em;
}

#topButton2 button {
  width: 100%;
  height: 100%;
  background-color: #34495e;
  border: 0;
  border-radius: 0px .25em .25em 0px;
}

#topButton2 button::after {
  content: '\25BC';
  color: #fff;
}

#topButton2 button:hover::after {
  color: var(--toggleColor);
  transition: .25s all ease;
}

/* Styles for nope2 (assuming it's a different element) */
#nope2 {
  /* Define styles for nope2 as needed */
}

/* Styles for expandContainer2 */
#expandContainer2 {
  overflow: hidden;
  background-color: var(--primaryColor);
  padding: 0px;
  transition: all 0.5s;
}

#expandContainer2.expanded {
  overflow: hidden;
  background-color: var(--primaryColor);
  padding: 15px;
}

/* Styles for expandContract2 */
#expandContract2 {
  margin-top: -100%;
  transition: all 0.5s;
}

#expandContract2.expanded {
  margin-top: 0;
}

/* End of Type Container */

/* Checkbox */
.checkbox-wrapper-29 {
  font-size: var(--fontSize);
}

.checkbox-wrapper-29 *,
.checkbox-wrapper-29 *::after,
.checkbox-wrapper-29 *::before {
  box-sizing: border-box;
}

.checkbox-wrapper-29 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-29 .checkbox__label {
  width: var(--fontSize);
  position: relative;
  top: 3px;
}

.checkbox-wrapper-29 .checkbox__label:before {
  content: ' ';
  display: block;
  height: var(--fontSize);
  width: var(--fontSize);
  border: 0;
  position: absolute;
  top: calc(var(--fontSize) * 0.125);
  left: 0;
  background: var(--secondaryColor);  
}

.checkbox-wrapper-29 .checkbox__label:after {
  content: ' ';
  display: block;
  height: var(--fontSize);
  width: var(--fontSize);
  transition: 200ms;
  position: absolute;
  top: calc(var(--fontSize) * 0.125);
  left: 0;
  background: var(--secondaryColor);  
}

.checkbox-wrapper-29 .checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
  border: calc(var(--fontSize) * .14) solid white;
  border-top-style: none; 
  border-right-style: none;
  -ms-transform: rotate(-45deg); /* IE9 */
  transform: rotate(-45deg);
  height: calc(var(--fontSize) * .5);
  background: var(--primaryColor);
}

.checkbox-wrapper-29 .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
}

.checkbox-wrapper-29 .checkbox__label:after:hover,
.checkbox-wrapper-29 .checkbox__label:after:active {
    border-color: green; 
}

.checkbox-wrapper-29 .checkbox__label {
  margin-right: calc(var(--fontSize) * 0.45);
}
/* End of Checkbox */

input[type="date"] {
    background-color: var(--primaryColor);
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: .25em;
    width: 13.95em;
    height: 1.1em;
}

::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
    transition: .05s all ease;
}

::-webkit-calendar-picker-indicator:hover {
    filter: invert(80%) sepia(39%) saturate(6499%) hue-rotate(356deg) brightness(103%) contrast(91%);
}

#toggle3D  {
    width: 16em;
    height: 3em;
    background-color: var(--primaryColor);
    border-radius: .25em;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 9px 20px 8px;
    text-align: center;
    transition: .25s all ease;
}

#toggle3D:hover {
    color: var(--toggleColor);
}

#legendToggle  {
  margin-top: 20px;
  align-self: end;
  width: 16em;
  height: 3em;
  background-color: var(--primaryColor);
  border-radius: .25em;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 9px 20px 8px;
  text-align: center;
  transition: .25s all ease;
  vertical-align: middle;
}

#legendToggle:hover {
  color: var(--toggleColor);
}

#colorRangeBar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 100;
    width: 20px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    background: linear-gradient(to top, hsl(240, 100%, 50%), hsl(0, 100%, 50%));
    margin: 10px;
}

#colorRangePoint {
    display: none;
    position: absolute;
    margin-right: 0.5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

#hoverInfo {
  font-weight: bold;
  position: absolute;
  display: none;
  width: 200px;
  border: 2px solid black;
  padding: 5px;
  color: black;
}

#showNumData {
  padding: 1em;
  border-radius: 5px;
  background-color: var(--primaryColor);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-bottom: 0.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  width: 200px;
  opacity: 0.9;
  visibility: visible;
}

#colorRangeRange {
  position: absolute;
  bottom: 50px;
  right: 22px;
  margin: 0px;
  padding: 15px;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
  color: white;
}

#aboutUs {
  text-align: center;
}

#aboutUs a {
  text-decoration-line: none;
  color: white;
}

#aboutUs a:hover {
  color: var(--toggleColor);
  transition: .25s all ease;
  text-decoration-line: none;
}

#github {
  text-align: center;
}

#github a {
  text-decoration-line: none;
  color: white;
}

#github a:hover {
  color: var(--toggleColor);
  transition: .25s all ease;
  text-decoration-line: none;
}

#showNumDataInput {
  height: 20px;
}

#showNumDataButton {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: white solid 2px;
  color: white;
  background: var(--primaryColor);
}

#showNumDataButton:hover {
  color: var(--toggleColor);
  transition: .25s all ease;
  text-decoration-line: none;
}