<mat-toolbar color="primary">
  <router-outlet>
    <mat-list-item>
      <span style="font-size: 40px">Alex's Toolbox</span>
      <span class="spacer"></span>
    </mat-list-item>
  </router-outlet>
</mat-toolbar>

<div style="display: flex; margin: 0; padding: 0">
  <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 style="margin-top: 10px; font-size: 200%">Home Page: <span style="font-size: 17px">Guide you all you need to know about Alex's Toolbox</span></h1>

</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="mat-nav-list-padding">
      <a mat-list-item routerLink="/home">Home Page</a>
      <a mat-list-item routerLink="/service">Tool list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="context">
      <h1>Welcome to Alex's Toolbox</h1>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>