<mat-toolbar color="primary">
  <router-outlet>
    <mat-list-item>
      <span style="font-size: 40px">Alex's Toolbox</span>
      <span class="spacer"></span>
    </mat-list-item>
  </router-outlet>
</mat-toolbar>

<router-outlet>
  <h1 style="margin-top: 16px">Home Page: <span style="font-size: 17px">Guide you all you need to know about Alex's Toolbox</span></h1>
</router-outlet>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="mat-nav-list-padding">
      <a mat-list-item routerLink="/home">Home Page</a>
      <a mat-list-item routerLink="/service">Tool list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="context">
      <h1>Welcome to Alex's Toolbox</h1>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>