#infoContainer {
  position: absolute;
  display: flex;
}

#mapContainer {
  display: flex;
}

container {
  margin-left: 5%;
}

.center {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}