  <mat-toolbar color="primary">
    <router-outlet>
      <mat-list-item>
        <span style="font-size: 40px">Alex's Toolbox</span>
        <span class="spacer"></span>
      </mat-list-item>
    </router-outlet>
  </mat-toolbar>

  <router-outlet>
    <h1 style="margin-top: 16px">File Shares: <span style="font-size: 17px">File sharing in web server that allows you download your files any devices</span></h1>
  </router-outlet>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list class="mat-nav-list-padding">
        <a mat-list-item routerLink="/home">Home Page</a>
        <a mat-list-item routerLink="/service">Tool list</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="text-align: center">
        <p>Please note: Files upload publicly on server can be very dangerous as it can expose system to various security risks.<br>
          To ensure the security, this service will be locked</p>
        <div *ngIf="isLocked">
          <button mat-raised-button (click)="promptPassword()">Unlock File Share</button>
        </div>
      </div>

      <div *ngIf="!isLocked">

      <router-outlet class="context"><h4>**Auto refresh may not working, please refresh list by yourself**</h4></router-outlet>
      <router-outlet class="context">
        <!-- Upload Section -->
        <button style="margin-right: 300px; margin-bottom: 100px" mat-raised-button (click)="fileInput.click()">Upload File</button>
        <input hidden type="file" #fileInput (change)="onFileSelected($event)" />

        <!-- File List Section -->
        <mat-list *ngIf="files.length > 0">
          <mat-list-item *ngFor="let file of files">
            <button mat-raised-button (click)="downloadFile(file)">{{ file }}</button>
            <button *ngIf="uploadProgress === 0 || uploadProgress === 100" mat-raised-button color="warn" (click)="deleteFile(file)">Delete</button>
          </mat-list-item>
        </mat-list>

      </router-outlet>
        <!-- Progress Bar -->
        <div style="text-align: center">
          <p>{{uploadProgress}}%</p>
          <mat-progress-bar style="height: 100px; width: 90%; margin-left: 5%" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
