<mat-toolbar color="primary">
  <router-outlet>
    <mat-list-item>
      <span style="font-size: 40px">Alex's Toolbox</span>
      <span class="spacer"></span>
    </mat-list-item>
  </router-outlet>
</mat-toolbar>

<div style="display: flex; margin: 0; padding: 0">
  <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 style="margin-top: 10px; font-size: 200%">File Shares: <span style="font-size: 17px">File sharing in web server that allows you download your files any devices</span></h1>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="mat-nav-list-padding">
      <a mat-list-item routerLink="/home">Home Page</a>
      <a mat-list-item routerLink="/service">Tool list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="text-align: center">
      <div *ngIf="isLocked">
        <p>Please note: Files upload publicly on server can be very dangerous as it can expose system to various security risks.<br>
          To ensure the security, this service will be locked</p>
        <button mat-raised-button (click)="promptPwd()">Unlock File Share</button>
      </div>
    </div>

    <div *ngIf="!isLocked">

      <router-outlet class="context" style="text-align: center">
        <h4>**Auto refresh may not working, please refresh list by yourself**</h4>
      </router-outlet>

      <!-- Progress Bar -->
      <div style="text-align: center">
        <mat-progress-bar style="height: 100px; width: 90%; margin-left: 5%" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
      </div>

      <router-outlet>
        <!-- File Table Section -->
        <style>
          table {
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
          }

          th, td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
          }

          th {
            background-color: #f2f2f2;
          }
        </style>

        <!-- Upload Section -->
        <table>
          <button style="margin-bottom: 10px" mat-raised-button (click)="fileInput.click()">Upload File</button>
          <input hidden type="file" #fileInput (change)="onFileSelected($event)" />
        </table>
        <table *ngIf="files.length > 0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of files">
            <td>
              <h3>{{ file }}</h3>
            </td>
            <td>
              <button *ngIf="uploadProgress === 0 || uploadProgress === 100" mat-raised-button color="warn" (click)="deleteFile(file)">Delete</button>
              <button mat-raised-button (click)="downloadFile(file)">Download</button>
            </td>
          </tr>
          </tbody>
        </table>


      </router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
