<mat-toolbar color="primary">
  <router-outlet>
    <mat-list-item>
      <span style="font-size: 40px">Alex's Toolbox</span>
      <span class="spacer"></span>
    </mat-list-item>
  </router-outlet>
</mat-toolbar>

<router-outlet>
  <h1 style="margin-top: 16px">Tool list: <span style="font-size: 17px">List of All tools in Alex's Toolbox</span></h1>
</router-outlet>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="mat-nav-list-padding">
      <a mat-list-item routerLink="/home">Home Page</a>
      <a mat-list-item routerLink="/service">Tool list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet class="context">
      <mat-grid-list cols="4" rowHeight=fit>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="/calculator">Calculator</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="/share">LAN sharing</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">Memo<br>(Developing)</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">Email<br>(Developing)</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">File Converter<br>(Developing)</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">Code Compiler<br>(Developing)</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">AI Chat<br>(Developing)</button>
        <button style="padding: 30px" mat-raised-button color="primary" routerLink="#">Button</button>
      </mat-grid-list>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>